.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: lightgoldenrodyellow;
    padding: 10px;

}

.grid-container > div {
    background-color: lightgreen;
    text-align: center;
    padding: 20px 0;
}

